<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575892924150-1hablcr2oeeg6rgtaacugkgq4ra7e3kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575892924150-1hablcr2oeeg6rgtaacugkgq4ra7e3kr</string>
	<key>API_KEY</key>
	<string>AIzaSyA0L_oHa_dv_8FRcdEwrfcLTCjvaaakEf8</string>
	<key>GCM_SENDER_ID</key>
	<string>575892924150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.dued</string>
	<key>PROJECT_ID</key>
	<string>duedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>duedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575892924150:ios:6d2d7c219e07ae53936ed7</string>
</dict>
</plist>